[Unit]
Description=CS GPS 1
After=network.target 
Wants=mosquitto.service

[Service]
WorkingDirectory=/home/pi/Arbeit/Thingstream
ExecStart=sudo python3 ./ppclient-06.py -P /dev/ttyACM1 -i CS1_1 --region eu --echo -m TestWB1
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target